# API City prices for living cost from numbeo.com

In [2]:
# import libraries
import requests
import os
import pandas as pd
import json
import sql_functions as sf

In [3]:
# To be able to pull the API key from the .env, we need to import load_dotenv

from dotenv import load_dotenv
load_dotenv()

True

Info from numbeo.com

yearLastUpdate': 2023

Selection list of items from numbeo.com for day_cost_bucket:

+ 'item_id': 1, 'item_name': 'Meal, Inexpensive Restaurant, Restaurants'
+ 'item_id': 2, 'item_name': 'Meal for 2 People, Mid-range Restaurant, Three-course, Restaurants'
+ 'item_id': 3, 'item_name': 'McMeal at McDonalds (or Equivalent Combo Meal), Restaurants'
+ 'item_id': 4, 'item_name': 'Domestic Beer (0.5 liter draught), Restaurants'
+ 'item_id': 6, 'item_name': 'Coke/Pepsi (0.33 liter bottle), Restaurants'
+ 'item_id': 7, 'item_name': 'Water (0.33 liter bottle), Restaurants'
+ 'item_id': 114, 'item_name': 'Cappuccino (regular), Restaurants'
+ 'item_id': 13, 'item_name': 'Water (1.5 liter bottle), Markets'
+ 'item_id': 18, 'item_name': 'One-way Ticket (Local Transport), Transportation'
+ 'item_id': 108, 'item_name': 'Taxi 1km (Normal Tariff), Transportation'


Our day_cost_bucket:

+ 'item_id': 1, 'item_name': 'Meal, Inexpensive Restaurant, Restaurants'
+ 'item_id': 3, 'item_name': 'McMeal at McDonalds (or Equivalent Combo Meal), Restaurants'
+ 'item_id': 4, 'item_name': 'Domestic Beer (0.5 liter draught), Restaurants'
+ 'item_id': 7, 'item_name': 'Water (0.33 liter bottle), Restaurants'
+ 'item_id': 114, 'item_name': 'Cappuccino (regular), Restaurants'
+ 'item_id': 13, 'item_name': 'Water (1.5 liter bottle), Markets'
+ 'item_id': 18, 'item_name': 'One-way Ticket (Local Transport), Transportation'
+ 'item_id': 108, 'item_name': 'Taxi 1km (Normal Tariff), Transportation'

In [8]:
#Load city list from data/cities_numbeo excel file
city_list = pd.read_excel('data/Cities_numbeo.xlsx')

In [10]:
city_list.head()

                              City
0                  Aachen, Germany
1                 Aalborg, Denmark
2         Aberdeen, United Kingdom
3             Abidjan, Ivory Coast
4  Abu Dhabi, United Arab Emirates

In [16]:
#Split the list in three columns on comma ' , ' 
city_list[['city', 'country', 'country_2']] = city_list['City'].str.split(', ', expand=True)

In [17]:
city_list.head()

                              City       city               country country_2
0                  Aachen, Germany     Aachen               Germany      None
1                 Aalborg, Denmark    Aalborg               Denmark      None
2         Aberdeen, United Kingdom   Aberdeen        United Kingdom      None
3             Abidjan, Ivory Coast    Abidjan           Ivory Coast      None
4  Abu Dhabi, United Arab Emirates  Abu Dhabi  United Arab Emirates      None

In [18]:
city_list.loc[city_list['country_2'].notnull(), 'country'] = city_list['country_2']

In [19]:
city_list.head()

                              City       city               country country_2
0                  Aachen, Germany     Aachen               Germany      None
1                 Aalborg, Denmark    Aalborg               Denmark      None
2         Aberdeen, United Kingdom   Aberdeen        United Kingdom      None
3             Abidjan, Ivory Coast    Abidjan           Ivory Coast      None
4  Abu Dhabi, United Arab Emirates  Abu Dhabi  United Arab Emirates      None

In [20]:
# Check the result
city_list['country'].unique()

array(['Germany', 'Denmark', 'United Kingdom', 'Ivory Coast',
       'United Arab Emirates', 'Ghana', 'Saudi Arabia', 'Turkey',
       'Ethiopia', 'Australia', 'Morocco', 'India', 'United States',
       'Egypt', 'Algeria', 'Spain', 'Kazakhstan', 'Jordan', 'Netherlands',
       'Belgium', 'Paraguay', 'Greece', 'New Zealand', 'Portugal', 'Iraq',
       'Philippines', 'Azerbaijan', 'Indonesia', 'Thailand',
       'Bosnia And Herzegovina', 'Barbados', 'Italy', 'Colombia',
       'Canada', 'Switzerland', 'Georgia', 'China', 'Lebanon', 'Serbia',
       'Brazil', 'Norway', 'Kyrgyzstan', 'North Macedonia', 'France',
       'Romania', 'Slovakia', 'Czech Republic', 'Hungary', 'Montenegro',
       'Argentina', 'Bulgaria', 'Mexico', 'South Africa', 'Venezuela',
       'Moldova', 'Bangladesh', 'Sri Lanka', 'Ireland', 'Ecuador',
       'Vietnam', 'Senegal', 'Syria', 'Tanzania', 'Ukraine', 'Qatar',
       'Cameroon', 'Isle Of Man', 'Croatia', 'Finland', 'Botswana',
       'Poland', 'Cayman Islands', 'Guyana', 'Sweden', 'Austria',
       'Guatemala', 'Israel', 'Bermuda', 'Zimbabwe', 'Cuba',
       'Hong Kong (China)', 'Iran', 'Pakistan', 'Malaysia', 'Russia',
       'Uganda', 'Taiwan', 'Nepal', 'Lithuania', 'Rwanda', 'Jamaica',
       'Kuwait', 'Nigeria', 'Cyprus', 'Peru', 'Slovenia', 'Luxembourg',
       'Macao (China)', 'Maldives', 'Bahrain', 'Belarus', 'Uruguay',
       'Oman', 'Kenya', 'Bahamas', 'Japan', 'Panama', 'Cambodia',
       'Trinidad And Tobago', 'Kosovo (Disputed Territory)', 'Palestine',
       'Iceland', 'Latvia', 'Jersey', 'Costa Rica', 'Puerto Rico',
       'El Salvador', 'Bolivia', 'Chile', 'Dominican Republic',
       'South Korea', 'Tunisia', 'Singapore', 'Malta', 'Fiji', 'Estonia',
       'Uzbekistan', 'Albania', 'Libya', 'Mongolia', 'Namibia', 'Myanmar',
       'Armenia'], dtype=object)

In [21]:
# Drop the column City and country_2
city_list.drop(['City', 'country_2'], axis = 1, inplace = True)

In [22]:
city_list.head()

        city               country
0     Aachen               Germany
1    Aalborg               Denmark
2   Aberdeen        United Kingdom
3    Abidjan           Ivory Coast
4  Abu Dhabi  United Arab Emirates

In [23]:
city = list(city_list['city'])

In [24]:
city

['Aachen',
 'Aalborg',
 'Aberdeen',
 'Abidjan',
 'Abu Dhabi',
 'Accra',
 'Ad Dammam',
 'Adana',
 'Addis Ababa',
 'Adelaide',
 'Agadir',
 'Ahmedabad',
 'Ajman',
 'Al Khobar',
 'Alanya',
 'Albuquerque',
 'Alexandria',
 'Algiers',
 'Alicante',
 'Almaty',
 'Amman',
 'Amsterdam',
 'Ankara',
 'Antalya',
 'Antwerp',
 'Arhus',
 'Astana (Nur-Sultan)',
 'Asuncion',
 'Athens',
 'Atlanta',
 'Auckland',
 'Augsburg',
 'Austin',
 'Aveiro',
 'Baghdad',
 'Baguio',
 'Baku',
 'Bali',
 'Bandung',
 'Bangalore',
 'Bangkok',
 'Banja Luka',
 'Barbados',
 'Barcelona',
 'Bari',
 'Barranquilla',
 'Barrie',
 'Basel',
 'Batumi',
 'Beijing',
 'Beirut',
 'Belfast',
 'Belgrade',
 'Belo Horizonte',
 'Bergamo',
 'Bergen',
 'Berlin',
 'Bern',
 'Bhubaneswar',
 'Bilbao',
 'Birmingham',
 'Bishkek',
 'Bitola',
 'Bogota',
 'Boise',
 'Bologna',
 'Bonn',
 'Bordeaux',
 'Boston',
 'Bournemouth',
 'Braga',
 'Brampton',
 'Brasilia',
 'Brasov',
 'Bratislava',
 'Bremen',
 'Brescia',
 'Brighton',
 'Brisbane',
 'Bristol',
 'Brno',
 'Brooklyn',
 'Brussels',
 'Bucaramanga',
 'Bucharest',
 'Budapest',
 'Budva',
 'Buenos Aires',
 'Buffalo',
 'Burgas',
 'Bursa',
 'Cagliari',
 'Cairo',
 'Calgary',
 'Cali',
 'Cambridge',
 'Campinas',
 'Canberra',
 'Cancun',
 'Cape Town',
 'Caracas',
 'Cardiff',
 'Cartagena',
 'Casablanca',
 'Cascais',
 'Catania',
 'Cebu',
 'Chandigarh',
 'Chania',
 'Charlotte',
 'Chengdu',
 'Chennai',
 'Chiang Mai',
 'Chicago',
 'Chisinau',
 'Chittagong',
 'Christchurch',
 'Cincinnati',
 'Cleveland',
 'Cluj-Napoca',
 'Coimbatore',
 'Coimbra',
 'Cologne',
 'Colombo',
 'Columbus',
 'Constanta',
 'Copenhagen',
 'Corfu',
 'Cork',
 'Coventry',
 'Craiova',
 'Cuenca',
 'Curitiba',
 'Da Nang',
 'Dakar',
 'Dallas',
 'Damascus',
 'Dar es Salaam',
 'Darmstadt',
 'Davao',
 'Debrecen',
 'Delft',
 'Delhi',
 'Denver',
 'Derby',
 'Detroit',
 'Dhaka',
 'Dnipro',
 'Doha',
 'Dortmund',
 'Douala',
 'Douglas',
 'Dresden',
 'Dubai',
 'Dublin',
 'Dubrovnik',
 'Dundee',
 'Durban',
 'Dusseldorf',
 'Edinburgh',
 'Edmonton',
 'Eindhoven',
 'Enschede',
 'Erbil (Irbil)',
 'Erlangen',
 'Eskisehir',
 'Espoo',
 'Essen',
 'Eugene',
 'Exeter',
 'Florence',
 'Florianopolis',
 'Fort Lauderdale',
 'Fort Worth',
 'Fortaleza',
 'Frankfurt',
 'Fredericton',
 'Freiburg im Breisgau',
 'Fresno',
 'Funchal',
 'Gaborone',
 'Galway',
 'Gdansk',
 'Geneva',
 'Genoa',
 'Gent',
 'George Town',
 'Georgetown',
 'Giza',
 'Glasgow',
 'Goiania',
 'Gold Coast',
 'Gothenburg',
 'Granada',
 'Grand Rapids',
 'Graz',
 'Grenoble',
 'Groningen',
 'Guadalajara',
 'Guangzhou',
 'Guatemala City',
 'Guayaquil',
 'Guelph',
 'Gurgaon',
 'Haarlem',
 'Haifa',
 'Halifax',
 'Hamburg',
 'Hamilton',
 'Hamilton',
 'Hamilton',
 'Hangzhou',
 'Hanoi',
 'Hanover',
 'Harare',
 'Havana',
 'Heidelberg',
 'Helsinki',
 'Heraklion',
 'Ho Chi Minh City',
 'Hong Kong',
 'Honolulu',
 'Houston',
 'Hyderabad',
 'Iasi',
 'Indianapolis',
 'Indore',
 'Innsbruck',
 'Isfahan (Esfahan)',
 'Islamabad',
 'Istanbul',
 'Izmir',
 'Jacksonville',
 'Jaipur',
 'Jakarta',
 'Jeddah (Jiddah)',
 'Jerusalem',
 'Johannesburg',
 'Johor Bahru',
 'Kaliningrad',
 'Kamloops',
 'Kampala',
 'Kansas City',
 'Kaohsiung',
 'Karachi',
 'Karlsruhe',
 'Kathmandu',
 'Katowice',
 'Kaunas',
 'Kayseri',
 'Kazan',
 'Kelowna',
 'Kharkiv',
 'Kiev (Kyiv)',
 'Kigali',
 'Kingston upon Hull',
 'Kingston',
 'Kingston',
 'Kitchener',
 'Klaipeda',
 'Knoxville',
 'Kocaeli',
 'Kochi',
 'Kolkata',
 'Konya',
 'Kosice',
 'Krakow (Cracow)',
 'Krasnodar',
 'Kuala Lumpur',
 'Kuwait City',
 'Lagos',
 'Lahore',
 'Larissa',
 'Larnaca',
 'Las Palmas de Gran Canaria',
 'Las Vegas',
 'Lausanne',
 'Leeds',
 'Leicester',
 'Leipzig',
 'Leuven',
 'Lille',
 'Lima',
 'Limassol',
 'Limerick',
 'Linz',
 'Lisbon',
 'Liverpool',
 'Ljubljana',
 'Lodz',
 'London',
 'London',
 'Los Angeles',
 'Louisville',
 'Lucknow (Lakhnau)',
 'Lund',
 'Luxembourg',
 'Lviv',
 'Lyon',
 'Maastricht',
 'Macao',
 'Madison',
 'Madrid',
 'Malaga',
 'Male',
 'Malmo',
 'Manama',
 'Manchester',
 'Manila',
 'Mannheim',
 'Maribor',
 'Markham',
 'Marrakech',
 'Marseille',
 'Mashhad',
 'Medellin',
 'Melbourne',
 'Memphis',
 'Merida',
 'Mersin',
 'Mexico City',
 'Miami',
 'Milan',
 'Milton Keynes',
 'Milwaukee',
 'Minneapolis',
 'Minsk',
 'Mississauga',
 'Monterrey',
 'Montevideo',
 'Montpellier',
 'Montreal',
 'Moscow',
 'Mostar',
 'Mumbai',
 'Munich',
 'Muscat',
 'Nairobi',
 'Nanaimo',
 'Nanjing',
 'Nantes',
 'Naples',
 'Nashville',
 'Nassau',
 'Netanya',
 'New Cairo',
 'New Orleans',
 'New Taipei City',
 'New York',
 'Newcastle upon Tyne',
 'Nice',
 'Nicosia',
 'Nijmegen',
 'Nis',
 'Nizhny Novgorod',
 'Noida',
 'Norwich',
 'Nottingham',
 'Novi Sad',
 'Novosibirsk',
 'Nuremberg',
 'Oakland',
 'Odense',
 'Odessa (Odesa)',
 'Oklahoma City',
 'Olomouc',
 'Oradea',
 'Orlando',
 'Osaka',
 'Oshawa',
 'Osijek',
 'Oslo',
 'Ostrava',
 'Ottawa',
 'Oulu',
 'Oviedo',
 'Oxford',
 'Padova',
 'Palermo',
 'Palma de Mallorca',
 'Pamplona',
 'Panama City',
 'Paphos',
 'Paris',
 'Parma',
 'Patras',
 'Pattaya',
 'Penang',
 'Perth',
 'Petah Tikva',
 'Petaling Jaya',
 'Philadelphia',
 'Phnom Penh',
 'Phoenix',
 'Phuket',
 'Pittsburgh',
 'Playa del Carmen',
 'Plovdiv',
 'Plymouth',
 'Plzen',
 'Podgorica',
 'Port Elizabeth',
 'Port of Spain',
 'Portland',
 'Porto Alegre',
 'Porto',
 'Portsmouth',
 'Poznan',
 'Prague',
 'Pretoria',
 'Pristina',
 'Puebla',
 'Puerto Vallarta',
 'Pune',
 'Qingdao',
 'Quebec City',
 'Queretaro (Santiago de Querétaro)',
 'Quezon City',
 'Quito',
 'Rabat',
 'Raleigh',
 'Ramallah',
 'Ramat Gan',
 'Reading',
 'Recife',
 'Regina',
 'Rehovot',
 'Reno',
 'Reykjavik',
 'Riga',
 'Rijeka',
 'Rimini',
 'Rio de Janeiro',
 'Riyadh',
 'Rome',
 'Rotterdam',
 'Sacramento',
 'Saint Helier',
 'Saint Louis',
 'Saint Petersburg',
 'Saint Petersburg',
 'Salt Lake City',
 'Salvador',
 'Salzburg',
 'San Antonio',
 'San Diego',
 'San Francisco',
 'San Jose',
 'San Jose',
 'San Juan',
 'San Salvador',
 'Santa Cruz de Tenerife',
 'Santa Cruz',
 'Santiago',
 'Santo Domingo',
 'Sao Jose dos Campos',
 'Sao Paulo',
 'Sarajevo',
 'Sarasota',
 'Saskatoon',
 'Seattle',
 'Seoul',
 'Seville (Sevilla)',
 'Sfax',
 'Shanghai',
 'Sharjah',
 'Sheffield',
 'Shenzhen',
 'Sibiu',
 'Singapore',
 'Skopje',
 'Sliema',
 'Sofia',
 'Sousse',
 'Southampton',
 'Split',
 'Spokane',
 "St. John's",
 'St.Catharines',
 'Stavanger',
 'Stockholm',
 'Stuttgart',
 'Surabaya',
 'Surat',
 'Surrey',
 'Suva',
 'Suzhou',
 'Swansea',
 'Sydney',
 'Szczecin',
 'Szeged',
 'Tacoma',
 'Taichung',
 'Taipei',
 'Tallinn',
 'Tampa',
 'Tampere',
 'Tangier',
 'Tartu',
 'Tashkent',
 'Tauranga',
 'Tbilisi',
 'Tehran',
 'Tel Aviv-Yafo',
 'The Hague (Den Haag)',
 'Thessaloniki',
 'Tijuana',
 'Timisoara',
 'Tirana',
 'Tokyo',
 'Toronto',
 'Toulouse',
 'Trento',
 'Treviso',
 'Trieste',
 'Trinidad',
 'Tripoli',
 'Tromso',
 'Trondheim',
 'Tucson',
 'Tunis',
 'Turin',
 'Turku',
 'Tuzla',
 'Ulaanbaatar',
 'Uppsala',
 'Utrecht',
 'Vadodara',
 'Valencia',
 'Valletta',
 'Vancouver',
 'Varna',
 'Vicenza',
 'Victoria',
 'Vienna',
 'Vigo',
 'Villach',
 'Vilnius',
 'Warsaw',
 'Washington',
 'Wellington',
 'Wiesbaden',
 'Windhoek',
 'Windsor',
 'Winnipeg',
 'Wroclaw',
 'Yangon',
 'Yekaterinburg',
 'Yerevan',
 'Zadar',
 'Zagreb',
 'Zaragoza (Saragossa)',
 'Zug',
 'Zurich']

In [25]:
# Make a country list for API query
country = list(city_list['country'])

In [26]:
country

['Germany',
 'Denmark',
 'United Kingdom',
 'Ivory Coast',
 'United Arab Emirates',
 'Ghana',
 'Saudi Arabia',
 'Turkey',
 'Ethiopia',
 'Australia',
 'Morocco',
 'India',
 'United Arab Emirates',
 'Saudi Arabia',
 'Turkey',
 'United States',
 'Egypt',
 'Algeria',
 'Spain',
 'Kazakhstan',
 'Jordan',
 'Netherlands',
 'Turkey',
 'Turkey',
 'Belgium',
 'Denmark',
 'Kazakhstan',
 'Paraguay',
 'Greece',
 'United States',
 'New Zealand',
 'Germany',
 'United States',
 'Portugal',
 'Iraq',
 'Philippines',
 'Azerbaijan',
 'Indonesia',
 'Indonesia',
 'India',
 'Thailand',
 'Bosnia And Herzegovina',
 'Barbados',
 'Spain',
 'Italy',
 'Colombia',
 'Canada',
 'Switzerland',
 'Georgia',
 'China',
 'Lebanon',
 'United Kingdom',
 'Serbia',
 'Brazil',
 'Italy',
 'Norway',
 'Germany',
 'Switzerland',
 'India',
 'Spain',
 'United Kingdom',
 'Kyrgyzstan',
 'North Macedonia',
 'Colombia',
 'United States',
 'Italy',
 'Germany',
 'France',
 'United States',
 'United Kingdom',
 'Portugal',
 'Canada',
 'Brazil',
 'Romania',
 'Slovakia',
 'Germany',
 'Italy',
 'United Kingdom',
 'Australia',
 'United Kingdom',
 'Czech Republic',
 'United States',
 'Belgium',
 'Colombia',
 'Romania',
 'Hungary',
 'Montenegro',
 'Argentina',
 'United States',
 'Bulgaria',
 'Turkey',
 'Italy',
 'Egypt',
 'Canada',
 'Colombia',
 'United Kingdom',
 'Brazil',
 'Australia',
 'Mexico',
 'South Africa',
 'Venezuela',
 'United Kingdom',
 'Colombia',
 'Morocco',
 'Portugal',
 'Italy',
 'Philippines',
 'India',
 'Greece',
 'United States',
 'China',
 'India',
 'Thailand',
 'United States',
 'Moldova',
 'Bangladesh',
 'New Zealand',
 'United States',
 'United States',
 'Romania',
 'India',
 'Portugal',
 'Germany',
 'Sri Lanka',
 'United States',
 'Romania',
 'Denmark',
 'Greece',
 'Ireland',
 'United Kingdom',
 'Romania',
 'Ecuador',
 'Brazil',
 'Vietnam',
 'Senegal',
 'United States',
 'Syria',
 'Tanzania',
 'Germany',
 'Philippines',
 'Hungary',
 'Netherlands',
 'India',
 'United States',
 'United Kingdom',
 'United States',
 'Bangladesh',
 'Ukraine',
 'Qatar',
 'Germany',
 'Cameroon',
 'Isle Of Man',
 'Germany',
 'United Arab Emirates',
 'Ireland',
 'Croatia',
 'United Kingdom',
 'South Africa',
 'Germany',
 'United Kingdom',
 'Canada',
 'Netherlands',
 'Netherlands',
 'Iraq',
 'Germany',
 'Turkey',
 'Finland',
 'Germany',
 'United States',
 'United Kingdom',
 'Italy',
 'Brazil',
 'United States',
 'United States',
 'Brazil',
 'Germany',
 'Canada',
 'Germany',
 'United States',
 'Portugal',
 'Botswana',
 'Ireland',
 'Poland',
 'Switzerland',
 'Italy',
 'Belgium',
 'Cayman Islands',
 'Guyana',
 'Egypt',
 'United Kingdom',
 'Brazil',
 'Australia',
 'Sweden',
 'Spain',
 'United States',
 'Austria',
 'France',
 'Netherlands',
 'Mexico',
 'China',
 'Guatemala',
 'Ecuador',
 'Canada',
 'India',
 'Netherlands',
 'Israel',
 'Canada',
 'Germany',
 'Bermuda',
 'Canada',
 'New Zealand',
 'China',
 'Vietnam',
 'Germany',
 'Zimbabwe',
 'Cuba',
 'Germany',
 'Finland',
 'Greece',
 'Vietnam',
 'Hong Kong (China)',
 'United States',
 'United States',
 'India',
 'Romania',
 'United States',
 'India',
 'Austria',
 'Iran',
 'Pakistan',
 'Turkey',
 'Turkey',
 'United States',
 'India',
 'Indonesia',
 'Saudi Arabia',
 'Israel',
 'South Africa',
 'Malaysia',
 'Russia',
 'Canada',
 'Uganda',
 'United States',
 'Taiwan',
 'Pakistan',
 'Germany',
 'Nepal',
 'Poland',
 'Lithuania',
 'Turkey',
 'Russia',
 'Canada',
 'Ukraine',
 'Ukraine',
 'Rwanda',
 'United Kingdom',
 'Canada',
 'Jamaica',
 'Canada',
 'Lithuania',
 'United States',
 'Turkey',
 'India',
 'India',
 'Turkey',
 'Slovakia',
 'Poland',
 'Russia',
 'Malaysia',
 'Kuwait',
 'Nigeria',
 'Pakistan',
 'Greece',
 'Cyprus',
 'Spain',
 'United States',
 'Switzerland',
 'United Kingdom',
 'United Kingdom',
 'Germany',
 'Belgium',
 'France',
 'Peru',
 'Cyprus',
 'Ireland',
 'Austria',
 'Portugal',
 'United Kingdom',
 'Slovenia',
 'Poland',
 'Canada',
 'United Kingdom',
 'United States',
 'United States',
 'India',
 'Sweden',
 'Luxembourg',
 'Ukraine',
 'France',
 'Netherlands',
 'Macao (China)',
 'United States',
 'Spain',
 'Spain',
 'Maldives',
 'Sweden',
 'Bahrain',
 'United Kingdom',
 'Philippines',
 'Germany',
 'Slovenia',
 'Canada',
 'Morocco',
 'France',
 'Iran',
 'Colombia',
 'Australia',
 'United States',
 'Mexico',
 'Turkey',
 'Mexico',
 'United States',
 'Italy',
 'United Kingdom',
 'United States',
 'United States',
 'Belarus',
 'Canada',
 'Mexico',
 'Uruguay',
 'France',
 'Canada',
 'Russia',
 'Bosnia And Herzegovina',
 'India',
 'Germany',
 'Oman',
 'Kenya',
 'Canada',
 'China',
 'France',
 'Italy',
 'United States',
 'Bahamas',
 'Israel',
 'Egypt',
 'United States',
 'Taiwan',
 'United States',
 'United Kingdom',
 'France',
 'Cyprus',
 'Netherlands',
 'Serbia',
 'Russia',
 'India',
 'United Kingdom',
 'United Kingdom',
 'Serbia',
 'Russia',
 'Germany',
 'United States',
 'Denmark',
 'Ukraine',
 'United States',
 'Czech Republic',
 'Romania',
 'United States',
 'Japan',
 'Canada',
 'Croatia',
 'Norway',
 'Czech Republic',
 'Canada',
 'Finland',
 'Spain',
 'United Kingdom',
 'Italy',
 'Italy',
 'Spain',
 'Spain',
 'Panama',
 'Cyprus',
 'France',
 'Italy',
 'Greece',
 'Thailand',
 'Malaysia',
 'Australia',
 'Israel',
 'Malaysia',
 'United States',
 'Cambodia',
 'United States',
 'Thailand',
 'United States',
 'Mexico',
 'Bulgaria',
 'United Kingdom',
 'Czech Republic',
 'Montenegro',
 'South Africa',
 'Trinidad And Tobago',
 'United States',
 'Brazil',
 'Portugal',
 'United Kingdom',
 'Poland',
 'Czech Republic',
 'South Africa',
 'Kosovo (Disputed Territory)',
 'Mexico',
 'Mexico',
 'India',
 'China',
 'Canada',
 'Mexico',
 'Philippines',
 'Ecuador',
 'Morocco',
 'United States',
 'Palestine',
 'Israel',
 'United Kingdom',
 'Brazil',
 'Canada',
 'Israel',
 'United States',
 'Iceland',
 'Latvia',
 'Croatia',
 'Italy',
 'Brazil',
 'Saudi Arabia',
 'Italy',
 'Netherlands',
 'United States',
 'Jersey',
 'United States',
 'United States',
 'Russia',
 'United States',
 'Brazil',
 'Austria',
 'United States',
 'United States',
 'United States',
 'United States',
 'Costa Rica',
 'Puerto Rico',
 'El Salvador',
 'Spain',
 'Bolivia',
 'Chile',
 'Dominican Republic',
 'Brazil',
 'Brazil',
 'Bosnia And Herzegovina',
 'United States',
 'Canada',
 'United States',
 'South Korea',
 'Spain',
 'Tunisia',
 'China',
 'United Arab Emirates',
 'United Kingdom',
 'China',
 'Romania',
 'Singapore',
 'North Macedonia',
 'Malta',
 'Bulgaria',
 'Tunisia',
 'United Kingdom',
 'Croatia',
 'United States',
 'Canada',
 'Canada',
 'Norway',
 'Sweden',
 'Germany',
 'Indonesia',
 'India',
 'Canada',
 'Fiji',
 'China',
 'United Kingdom',
 'Australia',
 'Poland',
 'Hungary',
 'United States',
 'Taiwan',
 'Taiwan',
 'Estonia',
 'United States',
 'Finland',
 'Morocco',
 'Estonia',
 'Uzbekistan',
 'New Zealand',
 'Georgia',
 'Iran',
 'Israel',
 'Netherlands',
 'Greece',
 'Mexico',
 'Romania',
 'Albania',
 'Japan',
 'Canada',
 'France',
 'Italy',
 'Italy',
 'Italy',
 'Trinidad And Tobago',
 'Libya',
 'Norway',
 'Norway',
 'United States',
 'Tunisia',
 'Italy',
 'Finland',
 'Bosnia And Herzegovina',
 'Mongolia',
 'Sweden',
 'Netherlands',
 'India',
 'Spain',
 'Malta',
 'Canada',
 'Bulgaria',
 'Italy',
 'Canada',
 'Austria',
 'Spain',
 'Austria',
 'Lithuania',
 'Poland',
 'United States',
 'New Zealand',
 'Germany',
 'Namibia',
 'Canada',
 'Canada',
 'Poland',
 'Myanmar',
 'Russia',
 'Armenia',
 'Croatia',
 'Croatia',
 'Spain',
 'Switzerland',
 'Switzerland']

In [27]:
#Create a dictionary city, country for API query
city_count_dict = dict(zip(city, country))

In [28]:
city_count_dict

{'Aachen': 'Germany',
 'Aalborg': 'Denmark',
 'Aberdeen': 'United Kingdom',
 'Abidjan': 'Ivory Coast',
 'Abu Dhabi': 'United Arab Emirates',
 'Accra': 'Ghana',
 'Ad Dammam': 'Saudi Arabia',
 'Adana': 'Turkey',
 'Addis Ababa': 'Ethiopia',
 'Adelaide': 'Australia',
 'Agadir': 'Morocco',
 'Ahmedabad': 'India',
 'Ajman': 'United Arab Emirates',
 'Al Khobar': 'Saudi Arabia',
 'Alanya': 'Turkey',
 'Albuquerque': 'United States',
 'Alexandria': 'Egypt',
 'Algiers': 'Algeria',
 'Alicante': 'Spain',
 'Almaty': 'Kazakhstan',
 'Amman': 'Jordan',
 'Amsterdam': 'Netherlands',
 'Ankara': 'Turkey',
 'Antalya': 'Turkey',
 'Antwerp': 'Belgium',
 'Arhus': 'Denmark',
 'Astana (Nur-Sultan)': 'Kazakhstan',
 'Asuncion': 'Paraguay',
 'Athens': 'Greece',
 'Atlanta': 'United States',
 'Auckland': 'New Zealand',
 'Augsburg': 'Germany',
 'Austin': 'United States',
 'Aveiro': 'Portugal',
 'Baghdad': 'Iraq',
 'Baguio': 'Philippines',
 'Baku': 'Azerbaijan',
 'Bali': 'Indonesia',
 'Bandung': 'Indonesia',
 'Bangalore': 'India',
 'Bangkok': 'Thailand',
 'Banja Luka': 'Bosnia And Herzegovina',
 'Barbados': 'Barbados',
 'Barcelona': 'Spain',
 'Bari': 'Italy',
 'Barranquilla': 'Colombia',
 'Barrie': 'Canada',
 'Basel': 'Switzerland',
 'Batumi': 'Georgia',
 'Beijing': 'China',
 'Beirut': 'Lebanon',
 'Belfast': 'United Kingdom',
 'Belgrade': 'Serbia',
 'Belo Horizonte': 'Brazil',
 'Bergamo': 'Italy',
 'Bergen': 'Norway',
 'Berlin': 'Germany',
 'Bern': 'Switzerland',
 'Bhubaneswar': 'India',
 'Bilbao': 'Spain',
 'Birmingham': 'United Kingdom',
 'Bishkek': 'Kyrgyzstan',
 'Bitola': 'North Macedonia',
 'Bogota': 'Colombia',
 'Boise': 'United States',
 'Bologna': 'Italy',
 'Bonn': 'Germany',
 'Bordeaux': 'France',
 'Boston': 'United States',
 'Bournemouth': 'United Kingdom',
 'Braga': 'Portugal',
 'Brampton': 'Canada',
 'Brasilia': 'Brazil',
 'Brasov': 'Romania',
 'Bratislava': 'Slovakia',
 'Bremen': 'Germany',
 'Brescia': 'Italy',
 'Brighton': 'United Kingdom',
 'Brisbane': 'Australia',
 'Bristol': 'United Kingdom',
 'Brno': 'Czech Republic',
 'Brooklyn': 'United States',
 'Brussels': 'Belgium',
 'Bucaramanga': 'Colombia',
 'Bucharest': 'Romania',
 'Budapest': 'Hungary',
 'Budva': 'Montenegro',
 'Buenos Aires': 'Argentina',
 'Buffalo': 'United States',
 'Burgas': 'Bulgaria',
 'Bursa': 'Turkey',
 'Cagliari': 'Italy',
 'Cairo': 'Egypt',
 'Calgary': 'Canada',
 'Cali': 'Colombia',
 'Cambridge': 'United Kingdom',
 'Campinas': 'Brazil',
 'Canberra': 'Australia',
 'Cancun': 'Mexico',
 'Cape Town': 'South Africa',
 'Caracas': 'Venezuela',
 'Cardiff': 'United Kingdom',
 'Cartagena': 'Colombia',
 'Casablanca': 'Morocco',
 'Cascais': 'Portugal',
 'Catania': 'Italy',
 'Cebu': 'Philippines',
 'Chandigarh': 'India',
 'Chania': 'Greece',
 'Charlotte': 'United States',
 'Chengdu': 'China',
 'Chennai': 'India',
 'Chiang Mai': 'Thailand',
 'Chicago': 'United States',
 'Chisinau': 'Moldova',
 'Chittagong': 'Bangladesh',
 'Christchurch': 'New Zealand',
 'Cincinnati': 'United States',
 'Cleveland': 'United States',
 'Cluj-Napoca': 'Romania',
 'Coimbatore': 'India',
 'Coimbra': 'Portugal',
 'Cologne': 'Germany',
 'Colombo': 'Sri Lanka',
 'Columbus': 'United States',
 'Constanta': 'Romania',
 'Copenhagen': 'Denmark',
 'Corfu': 'Greece',
 'Cork': 'Ireland',
 'Coventry': 'United Kingdom',
 'Craiova': 'Romania',
 'Cuenca': 'Ecuador',
 'Curitiba': 'Brazil',
 'Da Nang': 'Vietnam',
 'Dakar': 'Senegal',
 'Dallas': 'United States',
 'Damascus': 'Syria',
 'Dar es Salaam': 'Tanzania',
 'Darmstadt': 'Germany',
 'Davao': 'Philippines',
 'Debrecen': 'Hungary',
 'Delft': 'Netherlands',
 'Delhi': 'India',
 'Denver': 'United States',
 'Derby': 'United Kingdom',
 'Detroit': 'United States',
 'Dhaka': 'Bangladesh',
 'Dnipro': 'Ukraine',
 'Doha': 'Qatar',
 'Dortmund': 'Germany',
 'Douala': 'Cameroon',
 'Douglas': 'Isle Of Man',
 'Dresden': 'Germany',
 'Dubai': 'United Arab Emirates',
 'Dublin': 'Ireland',
 'Dubrovnik': 'Croatia',
 'Dundee': 'United Kingdom',
 'Durban': 'South Africa',
 'Dusseldorf': 'Germany',
 'Edinburgh': 'United Kingdom',
 'Edmonton': 'Canada',
 'Eindhoven': 'Netherlands',
 'Enschede': 'Netherlands',
 'Erbil (Irbil)': 'Iraq',
 'Erlangen': 'Germany',
 'Eskisehir': 'Turkey',
 'Espoo': 'Finland',
 'Essen': 'Germany',
 'Eugene': 'United States',
 'Exeter': 'United Kingdom',
 'Florence': 'Italy',
 'Florianopolis': 'Brazil',
 'Fort Lauderdale': 'United States',
 'Fort Worth': 'United States',
 'Fortaleza': 'Brazil',
 'Frankfurt': 'Germany',
 'Fredericton': 'Canada',
 'Freiburg im Breisgau': 'Germany',
 'Fresno': 'United States',
 'Funchal': 'Portugal',
 'Gaborone': 'Botswana',
 'Galway': 'Ireland',
 'Gdansk': 'Poland',
 'Geneva': 'Switzerland',
 'Genoa': 'Italy',
 'Gent': 'Belgium',
 'George Town': 'Cayman Islands',
 'Georgetown': 'Guyana',
 'Giza': 'Egypt',
 'Glasgow': 'United Kingdom',
 'Goiania': 'Brazil',
 'Gold Coast': 'Australia',
 'Gothenburg': 'Sweden',
 'Granada': 'Spain',
 'Grand Rapids': 'United States',
 'Graz': 'Austria',
 'Grenoble': 'France',
 'Groningen': 'Netherlands',
 'Guadalajara': 'Mexico',
 'Guangzhou': 'China',
 'Guatemala City': 'Guatemala',
 'Guayaquil': 'Ecuador',
 'Guelph': 'Canada',
 'Gurgaon': 'India',
 'Haarlem': 'Netherlands',
 'Haifa': 'Israel',
 'Halifax': 'Canada',
 'Hamburg': 'Germany',
 'Hamilton': 'New Zealand',
 'Hangzhou': 'China',
 'Hanoi': 'Vietnam',
 'Hanover': 'Germany',
 'Harare': 'Zimbabwe',
 'Havana': 'Cuba',
 'Heidelberg': 'Germany',
 'Helsinki': 'Finland',
 'Heraklion': 'Greece',
 'Ho Chi Minh City': 'Vietnam',
 'Hong Kong': 'Hong Kong (China)',
 'Honolulu': 'United States',
 'Houston': 'United States',
 'Hyderabad': 'India',
 'Iasi': 'Romania',
 'Indianapolis': 'United States',
 'Indore': 'India',
 'Innsbruck': 'Austria',
 'Isfahan (Esfahan)': 'Iran',
 'Islamabad': 'Pakistan',
 'Istanbul': 'Turkey',
 'Izmir': 'Turkey',
 'Jacksonville': 'United States',
 'Jaipur': 'India',
 'Jakarta': 'Indonesia',
 'Jeddah (Jiddah)': 'Saudi Arabia',
 'Jerusalem': 'Israel',
 'Johannesburg': 'South Africa',
 'Johor Bahru': 'Malaysia',
 'Kaliningrad': 'Russia',
 'Kamloops': 'Canada',
 'Kampala': 'Uganda',
 'Kansas City': 'United States',
 'Kaohsiung': 'Taiwan',
 'Karachi': 'Pakistan',
 'Karlsruhe': 'Germany',
 'Kathmandu': 'Nepal',
 'Katowice': 'Poland',
 'Kaunas': 'Lithuania',
 'Kayseri': 'Turkey',
 'Kazan': 'Russia',
 'Kelowna': 'Canada',
 'Kharkiv': 'Ukraine',
 'Kiev (Kyiv)': 'Ukraine',
 'Kigali': 'Rwanda',
 'Kingston upon Hull': 'United Kingdom',
 'Kingston': 'Jamaica',
 'Kitchener': 'Canada',
 'Klaipeda': 'Lithuania',
 'Knoxville': 'United States',
 'Kocaeli': 'Turkey',
 'Kochi': 'India',
 'Kolkata': 'India',
 'Konya': 'Turkey',
 'Kosice': 'Slovakia',
 'Krakow (Cracow)': 'Poland',
 'Krasnodar': 'Russia',
 'Kuala Lumpur': 'Malaysia',
 'Kuwait City': 'Kuwait',
 'Lagos': 'Nigeria',
 'Lahore': 'Pakistan',
 'Larissa': 'Greece',
 'Larnaca': 'Cyprus',
 'Las Palmas de Gran Canaria': 'Spain',
 'Las Vegas': 'United States',
 'Lausanne': 'Switzerland',
 'Leeds': 'United Kingdom',
 'Leicester': 'United Kingdom',
 'Leipzig': 'Germany',
 'Leuven': 'Belgium',
 'Lille': 'France',
 'Lima': 'Peru',
 'Limassol': 'Cyprus',
 'Limerick': 'Ireland',
 'Linz': 'Austria',
 'Lisbon': 'Portugal',
 'Liverpool': 'United Kingdom',
 'Ljubljana': 'Slovenia',
 'Lodz': 'Poland',
 'London': 'United Kingdom',
 'Los Angeles': 'United States',
 'Louisville': 'United States',
 'Lucknow (Lakhnau)': 'India',
 'Lund': 'Sweden',
 'Luxembourg': 'Luxembourg',
 'Lviv': 'Ukraine',
 'Lyon': 'France',
 'Maastricht': 'Netherlands',
 'Macao': 'Macao (China)',
 'Madison': 'United States',
 'Madrid': 'Spain',
 'Malaga': 'Spain',
 'Male': 'Maldives',
 'Malmo': 'Sweden',
 'Manama': 'Bahrain',
 'Manchester': 'United Kingdom',
 'Manila': 'Philippines',
 'Mannheim': 'Germany',
 'Maribor': 'Slovenia',
 'Markham': 'Canada',
 'Marrakech': 'Morocco',
 'Marseille': 'France',
 'Mashhad': 'Iran',
 'Medellin': 'Colombia',
 'Melbourne': 'Australia',
 'Memphis': 'United States',
 'Merida': 'Mexico',
 'Mersin': 'Turkey',
 'Mexico City': 'Mexico',
 'Miami': 'United States',
 'Milan': 'Italy',
 'Milton Keynes': 'United Kingdom',
 'Milwaukee': 'United States',
 'Minneapolis': 'United States',
 'Minsk': 'Belarus',
 'Mississauga': 'Canada',
 'Monterrey': 'Mexico',
 'Montevideo': 'Uruguay',
 'Montpellier': 'France',
 'Montreal': 'Canada',
 'Moscow': 'Russia',
 'Mostar': 'Bosnia And Herzegovina',
 'Mumbai': 'India',
 'Munich': 'Germany',
 'Muscat': 'Oman',
 'Nairobi': 'Kenya',
 'Nanaimo': 'Canada',
 'Nanjing': 'China',
 'Nantes': 'France',
 'Naples': 'Italy',
 'Nashville': 'United States',
 'Nassau': 'Bahamas',
 'Netanya': 'Israel',
 'New Cairo': 'Egypt',
 'New Orleans': 'United States',
 'New Taipei City': 'Taiwan',
 'New York': 'United States',
 'Newcastle upon Tyne': 'United Kingdom',
 'Nice': 'France',
 'Nicosia': 'Cyprus',
 'Nijmegen': 'Netherlands',
 'Nis': 'Serbia',
 'Nizhny Novgorod': 'Russia',
 'Noida': 'India',
 'Norwich': 'United Kingdom',
 'Nottingham': 'United Kingdom',
 'Novi Sad': 'Serbia',
 'Novosibirsk': 'Russia',
 'Nuremberg': 'Germany',
 'Oakland': 'United States',
 'Odense': 'Denmark',
 'Odessa (Odesa)': 'Ukraine',
 'Oklahoma City': 'United States',
 'Olomouc': 'Czech Republic',
 'Oradea': 'Romania',
 'Orlando': 'United States',
 'Osaka': 'Japan',
 'Oshawa': 'Canada',
 'Osijek': 'Croatia',
 'Oslo': 'Norway',
 'Ostrava': 'Czech Republic',
 'Ottawa': 'Canada',
 'Oulu': 'Finland',
 'Oviedo': 'Spain',
 'Oxford': 'United Kingdom',
 'Padova': 'Italy',
 'Palermo': 'Italy',
 'Palma de Mallorca': 'Spain',
 'Pamplona': 'Spain',
 'Panama City': 'Panama',
 'Paphos': 'Cyprus',
 'Paris': 'France',
 'Parma': 'Italy',
 'Patras': 'Greece',
 'Pattaya': 'Thailand',
 'Penang': 'Malaysia',
 'Perth': 'Australia',
 'Petah Tikva': 'Israel',
 'Petaling Jaya': 'Malaysia',
 'Philadelphia': 'United States',
 'Phnom Penh': 'Cambodia',
 'Phoenix': 'United States',
 'Phuket': 'Thailand',
 'Pittsburgh': 'United States',
 'Playa del Carmen': 'Mexico',
 'Plovdiv': 'Bulgaria',
 'Plymouth': 'United Kingdom',
 'Plzen': 'Czech Republic',
 'Podgorica': 'Montenegro',
 'Port Elizabeth': 'South Africa',
 'Port of Spain': 'Trinidad And Tobago',
 'Portland': 'United States',
 'Porto Alegre': 'Brazil',
 'Porto': 'Portugal',
 'Portsmouth': 'United Kingdom',
 'Poznan': 'Poland',
 'Prague': 'Czech Republic',
 'Pretoria': 'South Africa',
 'Pristina': 'Kosovo (Disputed Territory)',
 'Puebla': 'Mexico',
 'Puerto Vallarta': 'Mexico',
 'Pune': 'India',
 'Qingdao': 'China',
 'Quebec City': 'Canada',
 'Queretaro (Santiago de Querétaro)': 'Mexico',
 'Quezon City': 'Philippines',
 'Quito': 'Ecuador',
 'Rabat': 'Morocco',
 'Raleigh': 'United States',
 'Ramallah': 'Palestine',
 'Ramat Gan': 'Israel',
 'Reading': 'United Kingdom',
 'Recife': 'Brazil',
 'Regina': 'Canada',
 'Rehovot': 'Israel',
 'Reno': 'United States',
 'Reykjavik': 'Iceland',
 'Riga': 'Latvia',
 'Rijeka': 'Croatia',
 'Rimini': 'Italy',
 'Rio de Janeiro': 'Brazil',
 'Riyadh': 'Saudi Arabia',
 'Rome': 'Italy',
 'Rotterdam': 'Netherlands',
 'Sacramento': 'United States',
 'Saint Helier': 'Jersey',
 'Saint Louis': 'United States',
 'Saint Petersburg': 'Russia',
 'Salt Lake City': 'United States',
 'Salvador': 'Brazil',
 'Salzburg': 'Austria',
 'San Antonio': 'United States',
 'San Diego': 'United States',
 'San Francisco': 'United States',
 'San Jose': 'Costa Rica',
 'San Juan': 'Puerto Rico',
 'San Salvador': 'El Salvador',
 'Santa Cruz de Tenerife': 'Spain',
 'Santa Cruz': 'Bolivia',
 'Santiago': 'Chile',
 'Santo Domingo': 'Dominican Republic',
 'Sao Jose dos Campos': 'Brazil',
 'Sao Paulo': 'Brazil',
 'Sarajevo': 'Bosnia And Herzegovina',
 'Sarasota': 'United States',
 'Saskatoon': 'Canada',
 'Seattle': 'United States',
 'Seoul': 'South Korea',
 'Seville (Sevilla)': 'Spain',
 'Sfax': 'Tunisia',
 'Shanghai': 'China',
 'Sharjah': 'United Arab Emirates',
 'Sheffield': 'United Kingdom',
 'Shenzhen': 'China',
 'Sibiu': 'Romania',
 'Singapore': 'Singapore',
 'Skopje': 'North Macedonia',
 'Sliema': 'Malta',
 'Sofia': 'Bulgaria',
 'Sousse': 'Tunisia',
 'Southampton': 'United Kingdom',
 'Split': 'Croatia',
 'Spokane': 'United States',
 "St. John's": 'Canada',
 'St.Catharines': 'Canada',
 'Stavanger': 'Norway',
 'Stockholm': 'Sweden',
 'Stuttgart': 'Germany',
 'Surabaya': 'Indonesia',
 'Surat': 'India',
 'Surrey': 'Canada',
 'Suva': 'Fiji',
 'Suzhou': 'China',
 'Swansea': 'United Kingdom',
 'Sydney': 'Australia',
 'Szczecin': 'Poland',
 'Szeged': 'Hungary',
 'Tacoma': 'United States',
 'Taichung': 'Taiwan',
 'Taipei': 'Taiwan',
 'Tallinn': 'Estonia',
 'Tampa': 'United States',
 'Tampere': 'Finland',
 'Tangier': 'Morocco',
 'Tartu': 'Estonia',
 'Tashkent': 'Uzbekistan',
 'Tauranga': 'New Zealand',
 'Tbilisi': 'Georgia',
 'Tehran': 'Iran',
 'Tel Aviv-Yafo': 'Israel',
 'The Hague (Den Haag)': 'Netherlands',
 'Thessaloniki': 'Greece',
 'Tijuana': 'Mexico',
 'Timisoara': 'Romania',
 'Tirana': 'Albania',
 'Tokyo': 'Japan',
 'Toronto': 'Canada',
 'Toulouse': 'France',
 'Trento': 'Italy',
 'Treviso': 'Italy',
 'Trieste': 'Italy',
 'Trinidad': 'Trinidad And Tobago',
 'Tripoli': 'Libya',
 'Tromso': 'Norway',
 'Trondheim': 'Norway',
 'Tucson': 'United States',
 'Tunis': 'Tunisia',
 'Turin': 'Italy',
 'Turku': 'Finland',
 'Tuzla': 'Bosnia And Herzegovina',
 'Ulaanbaatar': 'Mongolia',
 'Uppsala': 'Sweden',
 'Utrecht': 'Netherlands',
 'Vadodara': 'India',
 'Valencia': 'Spain',
 'Valletta': 'Malta',
 'Vancouver': 'Canada',
 'Varna': 'Bulgaria',
 'Vicenza': 'Italy',
 'Victoria': 'Canada',
 'Vienna': 'Austria',
 'Vigo': 'Spain',
 'Villach': 'Austria',
 'Vilnius': 'Lithuania',
 'Warsaw': 'Poland',
 'Washington': 'United States',
 'Wellington': 'New Zealand',
 'Wiesbaden': 'Germany',
 'Windhoek': 'Namibia',
 'Windsor': 'Canada',
 'Winnipeg': 'Canada',
 'Wroclaw': 'Poland',
 'Yangon': 'Myanmar',
 'Yekaterinburg': 'Russia',
 'Yerevan': 'Armenia',
 'Zadar': 'Croatia',
 'Zagreb': 'Croatia',
 'Zaragoza (Saragossa)': 'Spain',
 'Zug': 'Switzerland',
 'Zurich': 'Switzerland'}

In [29]:
# #API download from www.numbeo.com 
url = 'https://www.numbeo.com/api/city_prices'
api_key = 'zlueew978sczoi'
#country_list ' don`t need, we take the values for countries from country_list in cell above 
desired_item_ids = [1, 3, 4, 7, 114, 13, 18, 108]
currency = "EUR"

data_list = []

for city in city:
    # Send the HTTP GET request for each country with currency parameter
    response = requests.get(url, params={"api_key": api_key, "query": city, "currency": currency})
    
    # Check if the request was successful
    if response.status_code == 200:
        # Parse the JSON response
        data = response.json()
        
        # Access the "prices" list from the response
        prices = data.get("prices", [])
        
        # Access the country's land information
        city = city
        
        # Initialize a list to store the desired items for the country
        desired_items = []
        
        # Iterate over the prices and check if the item_id matches the desired values
        for price in prices:
            item_id = price.get("item_id")
            if item_id in desired_item_ids:
                desired_items.append(price)
        
        # Add the desired items, land information, and currency to the data list
        for item in desired_items:
            item["city"] = city
            item["currency"] = currency
        data_list.extend(desired_items)
    else:
        print(f"Request for {city} failed with status code:", response.status_code)

# Create a DataFrame from the data list
df = pd.DataFrame(data_list)

# Print the DataFrame
df

,data_points,item_id,lowest_price,average_price,highest_price,item_name,city,currency
0,23,1,8.000000,10.000000,13.990000,"Meal, Inexpensive Restaurant, Restaurants",Aachen,EUR
1,11,3,8.000000,9.000000,10.000000,McMeal at McDonalds (or Equivalent Combo Meal)...,Aachen,EUR
2,15,4,3.000000,3.500000,4.500000,"Domestic Beer (0.5 liter draught), Restaurants",Aachen,EUR
3,17,7,1.800000,2.225000,3.000000,"Water (0.33 liter bottle) , Restaurants",Aachen,EUR
4,12,13,0.250000,0.496250,1.000000,"Water (1.5 liter bottle), Markets",Aachen,EUR
...,...,...,...,...,...,...,...,...
4287,47,7,3.578252,4.576535,6.134146,"Water (0.33 liter bottle) , Restaurants",Zurich,EUR
4288,52,13,0.613415,1.332072,2.249187,"Water (1.5 liter bottle), Markets",Zurich,EUR
4289,45,18,3.169309,4.498374,6.338618,"One-way Ticket (Local Transport), Transportation",Zurich,EUR
4290,10,108,4.089431,5.111788,5.111788,"Taxi 1km (Normal Tariff), Transportation",Zurich,EUR
4291,74,114,4.089431,5.591019,7.412093,"Cappuccino (regular), Restaurants",Zurich,EUR

In [ ]:
#4292 rows and 8 columns

In [30]:
df.head(15)

,data_points,item_id,lowest_price,average_price,highest_price,item_name,city,currency
0,23,1,8.000000,10.000000,13.990000,"Meal, Inexpensive Restaurant, Restaurants",Aachen,EUR
1,11,3,8.000000,9.000000,10.000000,McMeal at McDonalds (or Equivalent Combo Meal)...,Aachen,EUR
2,15,4,3.000000,3.500000,4.500000,"Domestic Beer (0.5 liter draught), Restaurants",Aachen,EUR
3,17,7,1.800000,2.225000,3.000000,"Water (0.33 liter bottle) , Restaurants",Aachen,EUR
4,12,13,0.250000,0.496250,1.000000,"Water (1.5 liter bottle), Markets",Aachen,EUR
5,10,18,2.800000,2.950000,3.400000,"One-way Ticket (Local Transport), Transportation",Aachen,EUR
6,4,108,1.800000,1.950000,2.200000,"Taxi 1km (Normal Tariff), Transportation",Aachen,EUR
7,21,114,2.267858,2.885714,3.500000,"Cappuccino (regular), Restaurants",Aachen,EUR
8,11,1,12.755426,17.454794,32.089968,"Meal, Inexpensive Restaurant, Restaurants",Aalborg,EUR
9,5,3,10.741412,13.158229,14.769441,McMeal at McDonalds (or Equivalent Combo Meal)...,Aalborg,EUR
10,12,4,5.370706,6.646249,8.056059,"Domestic Beer (0.5 liter draught), Restaurants",Aalborg,EUR
11,11,7,1.342676,2.366467,3.356691,"Water (0.33 liter bottle) , Restaurants",Aalborg,EUR
12,7,13,0.671338,1.691772,3.222424,"Water (1.5 liter bottle), Markets",Aalborg,EUR
13,10,18,2.953888,3.222424,3.356691,"One-way Ticket (Local Transport), Transportation",Aalborg,EUR
14,6,108,1.208409,2.215416,2.953888,"Taxi 1km (Normal Tariff), Transportation",Aalborg,EUR

In [31]:
#Drop column data_points, item_id, lowest_price and highest_price
df_new = df.drop(["data_points", 'lowest_price', 'highest_price', 'currency'], axis=1, inplace=True)

In [35]:
#Add the column country
df['country'] = df['city'].map(city_count_dict)

In [36]:
df.head()

,item_id,average_price,item_name,city,country
0,1,10.00000,"Meal, Inexpensive Restaurant, Restaurants",Aachen,Germany
1,3,9.00000,McMeal at McDonalds (or Equivalent Combo Meal)...,Aachen,Germany
2,4,3.50000,"Domestic Beer (0.5 liter draught), Restaurants",Aachen,Germany
3,7,2.22500,"Water (0.33 liter bottle) , Restaurants",Aachen,Germany
4,13,0.49625,"Water (1.5 liter bottle), Markets",Aachen,Germany

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4292 entries, 0 to 4291
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   item_id        4292 non-null   int64
 1   average_price  4286 non-null   float64
 2   item_name      4292 non-null   object
 3   city           4292 non-null   object
 4   country        4292 non-null   object
dtypes: float64(1), int64(1), object(3)
memory usage: 167.8+ KB

## Push the DataFrame df to sql

In [38]:
#Define schema for DBeaver
schema = 'capstone_travel_index'
engine = sf.get_engine()

In [40]:
#Import dataset as table to DBeaver, rename df_clean to country_avg_price
table_name = 'city_living_prices'
if engine!=None:
    try:
        df.to_sql(name=table_name, # Name of SQL table
                        con=engine, # Engine or connection
                        if_exists='replace', # Drop the table before inserting new values 
                        schema=schema, # Use schmea that was defined earlier
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_name} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None

The city_living_prices table was imported successfully.

In [ ]:
#The city_living_prices table was imported successfully.