In [ ]:
import pandas as pd
import requests
import os
from dotenv import load_dotenv
load_dotenv()
import time

In [ ]:
renaming = {
    0: 'Amsterdam',
    1: 'Antwerp',
    2: 'Asheville',
    3: 'Athens',
    4: 'Austin',
    5: 'Bangkok',
    6: 'Barcelona',
    7: 'Berlin',
    8: 'Bergamo',
    9: 'Belize',
    10: 'Bologna',
    11: 'Boston',
    12: 'Bordeaux',
    13: 'Brussels',
    14: 'Buenos Aires',
    15: 'Cape Town',
    16: 'Cambridge',
    17: 'Chicago',
    18: 'Columbus',
    19: 'Copenhagen',
    20: 'Crete',
    21: 'Dallas',
    22: 'Denver',
    23: 'Dublin',
    24: 'Edinburgh',
    25: 'Florence',
    26: 'Ghent',
    27: 'Geneva',
    28: 'Girona',
    29: 'Hawaii',
    30: 'Hong Kong',
    31: 'Istanbul',
    32: 'Jersey City',
    33: 'Lausanne',
    34: 'Lisbon',
    35: 'London',
    36: 'Los Angeles',
    37: 'Lyon',
    38: 'Madrid',
    39: 'Malaga',
    40: 'Mallorca',
    41: 'Manchester',
    42: 'Melbourne',
    43: 'Menorca',
    44: 'Milan',
    45: 'Montreal',
    46: 'Naples',
    47: 'Nashville',
    48: 'New Orleans',
    49: 'New York City',
    50: 'Newark',
    51: 'Oakland',
    52: 'Oslo',
    53: 'Paris',
    54: 'Portland',
    55: 'Prague',
    56: 'Quebec City',
    57: 'Rhode Island',
    58: 'Riga',
    59: 'Rio de Janeiro',
    60: 'Rome',
    61: 'Rotterdam',
    62: 'Salem',
    63: 'San Diego',
    64: 'San Francisco',
    65: 'Seattle',
    66: 'Sevilla',
    67: 'Santiago',
    68: 'Singapore',
    69: 'Stockholm',
    70: 'Sydney',
    71: 'Taipei',
    72: 'The Hague',
    73: 'Thessaloniki',
    74: 'Tokyo',
    75: 'Toronto',
    76: 'Valencia',
    77: 'Vancouver',
    78: 'Venice',
    79: 'Victoria',
    80: 'Vienna',
    81: 'WashingtonDC',
    82: 'Winnipeg',
    83: 'Zurich',
    84: 'Munich',
    85: 'Mexico City'
}

print(len(renaming))

# später droppen ggf. 2: 'Asheville' und 18: 'Columbus',

In [ ]:
# currency dictionary
currency_mapping = {
    'Amsterdam': 'EUR',
    'Antwerp': 'EUR',
    'Asheville': 'USD',
    'Athens': 'EUR',
    'Austin': 'USD',
    'Bangkok': 'THB',
    'Barcelona': 'EUR',
    'Berlin': 'EUR',
    'Bergamo': 'EUR',
    'Belize': 'BZD',
    'Bologna': 'EUR',
    'Boston': 'USD',
    'Bordeaux': 'EUR',
    'Brussels': 'EUR',
    'Buenos Aires': 'ARS',
    'Cape Town': 'ZAR',
    'Cambridge': 'USD',
    'Chicago': 'USD',
    'Columbus': 'USD',
    'Copenhagen': 'DKK',
    'Crete': 'EUR',
    'Dallas': 'USD',
    'Denver': 'USD',
    'Dublin': 'EUR',
    'Edinburgh': 'GBP',
    'Florence': 'EUR',
    'Ghent': 'EUR',
    'Geneva': 'CHF',
    'Girona': 'EUR',
    'Hawaii': 'USD',
    'Hong Kong': 'HKD',
    'Istanbul': 'TRY',
    'Jersey City': 'USD',
    'Lausanne': 'CHF',
    'Lisbon': 'EUR',
    'London': 'GBP',
    'Los Angeles': 'USD',
    'Lyon': 'EUR',
    'Madrid': 'EUR',
    'Malaga': 'EUR',
    'Mallorca': 'EUR',
    'Manchester': 'GBP',
    'Melbourne': 'AUD',
    'Menorca': 'EUR',
    'Milan': 'EUR',
    'Montreal': 'CAD',
    'Naples': 'EUR',
    'Nashville': 'USD',
    'New Orleans': 'USD',
    'New York City': 'USD',
    'Newark': 'USD',
    'Oakland': 'USD',
    'Oslo': 'NOK',
    'Paris': 'EUR',
    'Portland': 'USD',
    'Prague': 'CZK',
    'Quebec City': 'CAD',
    'Rhode Island': 'USD',
    'Riga': 'EUR',
    'Rio de Janeiro': 'BRL',
    'Rome': 'EUR',
    'Rotterdam': 'EUR',
    'Salem': 'USD',
    'San Diego': 'USD',
    'San Francisco': 'USD',
    'Seattle': 'USD',
    'Sevilla': 'EUR',
    'Singapore': 'SGD',
    'Stockholm': 'SEK',
    'Sydney': 'AUD',
    'Taipei': 'TWD',
    'The Hague': 'EUR',
    'Thessaloniki': 'EUR',
    'Tokyo': 'JPY',
    'Toronto': 'CAD',
    'Valencia': 'EUR',
    'Vancouver': 'CAD',
    'Venice': 'EUR',
    'Victoria': 'CAD',
    'Vienna': 'EUR',
    'WashingtonDC': 'USD',
    'Winnipeg': 'CAD',
    'Zurich': 'CHF',
    'Munich': 'EUR',
    'Mexico City': 'MXN',
    'Santiago': 'CLP'
}
print(len(currency_mapping))

In [ ]:
# function for the currency converter API
def get_euro_values(currency_old, amount):
	url = "https://currency-converter-by-api-ninjas.p.rapidapi.com/v1/convertcurrency"
	querystring = {"have": currency_old,"want":"EUR","amount":amount}
	api_key = os.getenv('currency_api_key') # extract the value for the api key
	headers = {
		"X-RapidAPI-Key": api_key,
		"X-RapidAPI-Host": "currency-converter-by-api-ninjas.p.rapidapi.com"}
	try:
		response = requests.get(url, headers=headers, params=querystring)
		response.raise_for_status()  # Raise an exception for HTTP errors
		response_json = response.json()
		response_json = pd.json_normalize(response_json)
		return response_json['new_amount'][0]
		print(response_json)
	except requests.HTTPError as e:
		print("HTTP Error occurred:", e)
	except json.JSONDecodeError as e:
		print("Error decoding JSON:", e)
	except requests.RequestException as e:
		print("Error connecting to the API:", e)

	# "X-RapidAPI-Key": "3ce7163631msh8b0baf3691a5aaep1a0241jsnb3f7cf89accb",

In [ ]:
# Call the currency exchange API to get the exchange rates for the unique currencies in currency_mapping dict
conversion_rate_dict = {}
for currency in set(currency_mapping.values()):
    euro_value = get_euro_values(currency, 100)
    converted_value = round(euro_value / 100, 4)
    conversion_rate_dict[currency] = converted_value

print(conversion_rate_dict)

In [ ]:
conversion_rate = conversion_rate_dict
print(type(conversion_rate))

In [ ]:
# # json_normalize living cost data 
# response_new_new = pd.json_normalize(response_new, 
#                                   record_path="new_amount")

In [ ]:
# Create data frames for all cities + add a new column with the city name + drop unnecessary columns
keep_columns = ['latitude', 'longitude', 'room_type', 'price']
for num in range(len(renaming)):
    city_name = renaming[num]
    df_name = f"df_{city_name.replace(' ', '_').lower()}"
    csv_file = f"data/airbnb/listings ({num}).csv"
    globals()[df_name] = pd.read_csv(csv_file, sep=',', header=0)
    globals()[df_name] = globals()[df_name][keep_columns]  # Keep only specified columns
    globals()[df_name]['city'] = city_name  # Add 'city' column with city name
    globals()[df_name]['currency_old'] = currency_mapping[city_name]  # Add 'currency' column with currency value
    globals()[df_name]['converted_price'] = conversion_rate[globals()[df_name]['currency_old'][0]] * globals()[df_name]['price']  # call function for the currency converter
    #globals()[df_name]['currency_new'] = get_euro_values(currency_mapping[city_name], globals()[df_name]['price'])  # call function for the currency converter
    #globals()[df_name]['currency_new'] = get_euro_values('E', 500)  # call function for the currency converter
    #time.sleep(1)

# Print all data frames with the new columns
for num in range(len(renaming)):
    city_name = renaming[num]
    df_name = f"df_{city_name.replace(' ', '_').lower()}"
    print(eval(df_name))
    print()

In [ ]:
# for num in range(len(renaming)):
#     city_name = renaming[num]
#     df_name = f"df_{city_name.replace(' ', '_').lower()}"
#     print(eval(df_name))
#     print()

In [ ]:
df_columbus
df_zurich
df_munich
df_winnipeg
df_tokyo

In [ ]:
globals()[df_name]

In [ ]:
globals()[df_name].describe()

In [ ]:
print(type(df_amsterdam["converted_price"][0]))

In [ ]:
print(type(df_amsterdam))

In [ ]:
df_amsterdam

In [ ]:
# Print all AVG price x room type
for num in range(len(renaming)):
    city_name = renaming[num]
    df_name = f"df_{city_name.replace(' ', '_').lower()}"
    #globals()[df_name] = eval(df_name).groupby('room_type').converted_price.mean().to_frame()
    globals()[df_name] = pd.pivot_table(eval(df_name).groupby('room_type').converted_price.mean().to_frame(), values='converted_price', columns='room_type')
    #globals()[df_name] = pd.pivot_table(eval(df_name), values='converted_price', index='room_type', aggfunc='mean')
    globals()[df_name]['city'] = city_name  # Add 'city' column with city name
    print(globals()[df_name])

In [ ]:
all_cities_dfs = []

# Concatenate all the DataFrames
for num in range(len(renaming)):
    city_name = renaming[num]
    df_name = f"df_{city_name.replace(' ', '_').lower()}"
    all_cities_dfs.append(globals()[df_name])

# Concatenate the DataFrames in the list
combined_df = pd.concat(all_cities_dfs)

# Print the combined DataFrame
print(combined_df)

In [ ]:
type(combined_df )

In [ ]:
###################################################-Backup!!!!!!!

In [ ]:
# #AVG von price nach room type
# df_amsterdam = df_clean[['room_type', 'price']]
# df_amsterdam = df_avg_price.groupby('room_type')['price'].mean()

# df_amsterdam

In [ ]:
# # call function for the currency converter
# euro_values = get_euro_values('USD', 5000)
# type(euro_values)

In [ ]:
# # Create data frames for all cities + add a new column with the city name + drop unnecessary columns
# keep_columns = ['latitude', 'longitude', 'room_type', 'price']
# for num in range(len(renaming)):
#     city_name = renaming[num]
#     df_name = f"df_{city_name.replace(' ', '_').lower()}"
#     csv_file = f"data/airbnb/listings ({num}).csv"
#     globals()[df_name] = pd.read_csv(csv_file, sep=',', header=0)
#     #df_name = df_name[keep_columns]  # Keep only specified columns
#     df_name['city'] = city_name  # Add 'city' column with city name
#     df_name['currency_old'] = currency_mapping[city_name]  # Add 'currency' column with currency value
#     #df_name['currency_new'] = get_euro_values(currency_mapping[city_name], [df_name]['price'])  # call function for the currency converter
#     df_name['currency_new'] = get_euro_values(currency_mapping[city_name], df_name['price'])  # call function for the currency converter
#     #globals()[df_name]['currency_new'] = get_euro_values('BRL', 500)  # call function for the currency converter
#     time.sleep(1)

# # Print all data frames with the new columns
# for num in range(len(renaming)):
#     city_name = renaming[num]
#     df_name = f"df_{city_name.replace(' ', '_').lower()}"
#     print(eval(df_name))
#     print()

#     # Spalte nicht erforderlich 'minimum_nights'

In [ ]:
# auf 100€ bezogen
# Currency: CNY, Euro Value: 12.76
# Currency: GBP, Euro Value: 116.81
# Currency: ZAR, Euro Value: 4.98
# Currency: TRY, Euro Value: 3.89
# Currency: BZD, Euro Value: 45.47
# Currency: DKK, Euro Value: 13.42
# Currency: ARS, Euro Value: 0.37
# Currency: BRL, Euro Value: 19.12
# Currency: JPY, Euro Value: 0.65
# Currency: NOK, Euro Value: 8.52
# Currency: SGD, Euro Value: 68.21
# Currency: SEK, Euro Value: 8.48
# Currency: CAD, Euro Value: 69.21
# Currency: TWD, Euro Value: 2.96
# Currency: EUR, Euro Value: 100.0
# Currency: CHF, Euro Value: 101.98
# Currency: MXN, Euro Value: 5.32
# Currency: THB, Euro Value: 2.63
# Currency: USD, Euro Value: 91.74
# Currency: CLP, Euro Value: 0.11
# Currency: AUD, Euro Value: 62.14
# Currency: CZK, Euro Value: 4.21
# Currency: HKD, Euro Value: 11.71

In [ ]:
# exchange_rates = {
#     'GBP': 1.17,   # Beispiel-Wechselkurs für GBP zu EUR
#     'CNY': 0.13    # Beispiel-Wechselkurs für CNY zu EUR
#     # Weitere Wechselkurse hier, falls benötigt
# }

# amount_gbp = 500
# amount_cny = 500

# euro_value_gbp = amount_gbp * exchange_rates['GBP']
# euro_value_cny = amount_cny * exchange_rates['CNY']

# print(f"500 GBP entsprechen {euro_value_gbp} EUR")
# print(f"500 CNY entsprechen {euro_value_cny} EUR")

In [ ]:
# {'CNY': 0.1274, 'GBP': 1.1694, 'ZAR': 0.0498, 'TRY': 0.0389, 'BZD': 0.4539, 'DKK': 0.1343, 'ARS': 0.0037, 'BRL': 0.1912, 'JPY': 0.0064, 'NOK': 0.0854, 'SGD': 0.6817, 'SEK': 0.0848, 'CAD': 0.692, 'TWD': 0.0296, 'EUR': 1.0, 'CHF': 1.0186, 'MXN': 0.0533, 'THB': 0.0263, 'USD': 0.9166, 'CLP': 0.0011, 'AUD': 0.6199, 'CZK': 0.0421, 'HKD': 0.1171}

In [ ]:
###################-Backups-andere Notebooks

In [ ]:
# # Normalize the JSON data
# df_2012 = pd.json_normalize(city_hist_livcost['2012'], meta=["country", "city_name"])
# df_2012['year'] = '2012'  # Add the 'year' column
# df_2012 = df_2012[["year", "country", "city_name"]]  # Select only the desired columns
# print(df_2012)

# df_2013 = pd.json_normalize(city_hist_livcost['2013'], meta=["country", "city_name"])
# df_2013['year'] = '2013'  # Add the 'year' column
# df_2013 = df_2013[["year", "country", "city_name"]]  # Select only the desired columns
# print(df_2013)

# df_2014 = pd.json_normalize(city_hist_livcost['2014'], meta=["country", "city_name"])
# df_2014['year'] = '2014'  # Add the 'year' column
# df_2014 = df_2014[["year", "country", "city_name"]]  # Select only the desired columns
# print(df_2014)

In [ ]:
# records = []
# for year in city_hist_livcost:
#     for record in city_hist_livcost[year]:
#         record['year'] = year  # Add the 'year' key to each record
#         records.append(record)

# df_all_years = pd.json_normalize(records, meta=["year", "country", "city_name", "restaurant_price_index", "groceries_index"])
# df_all_years = df_all_years[["year", "country", "city_name", "restaurant_price_index", "groceries_index"]]  # Select only the desired columns

# print(df_all_years)

In [ ]:
# records = []
# for year in city_hist_livcost:
#     for record in city_hist_livcost[year]:
#         record['year'] = year  # Add the 'year' key to each record
#         records.append(record)

# df_all_years = pd.json_normalize(records, meta=["year", "country", "city_name", "restaurant_price_index", "groceries_index"])
# df_all_years = df_all_years[["year", "country", "city_name", "restaurant_price_index", "groceries_index"]]  # Select only the desired columns

# all_years = list(city_hist_livcost.keys())  # Get a list of all years in the city_hist_livcost dict
# df_all_years = df_all_years[df_all_years['year'].isin(all_years)]  # Filter the DataFrame to include only the available years

# print(df_all_years)