In [ ]:
####### Living Costs API Pull
import requests
import os
import pandas as pd

# To be able to pull the API key from the .env, we need to import and run the load_dotenv function from the dotenv module first.
from dotenv import load_dotenv
load_dotenv()


# https://www.numbeo.com/api//city_prices?api_key=your_api_key&query=London,%20United%20Kingdom 
# get living cost data function
def get_living_costs(city, country):
    base_url = 'https://www.numbeo.com/api/city_prices'
    api_key = os.getenv('numbeo_api_key') # extract the value for the api key
    querystring = {
        'api_key': api_key,
        'query': city + ', ' + country
    }
    url = base_url + '?' + 'api_key=' + api_key + '&query=' + city + ',' + country.replace(' ', '%20')
    response = requests.get(url)
    print(url)
    return response.json()

In [ ]:
# call living cost data function
city_cost_living = get_living_costs('London', 'United Kingdom')

# # call living cost data function
# city_cost_living2 = get_living_costs('Hamburg', 'Germany')

# # cities dict durchloopen
# for city, country in cities:
#     pass

In [ ]:
display(city_cost_living)

In [ ]:
type(city_cost_living)

In [ ]:
# JSON output Ausschnitt
{'name': 'London, United Kingdom',
 'currency': 'GBP',
 'contributors12months': 1027,
 'monthLastUpdate': 6,
 'contributors': 646,
 'yearLastUpdate': 2023,
 'prices': [{'data_points': 80,
   'item_id': 1,
   'lowest_price': 10,
   'average_price': 20,
   'highest_price': 30,
   'item_name': 'Meal, Inexpensive Restaurant, Restaurants'},
  {'data_points': 68,
   'item_id': 2,
   'lowest_price': 50,
   'average_price': 80,
   'highest_price': 140,
   'item_name': 'Meal for 2 People, Mid-range Restaurant, Three-course, Restaurants'},

In [ ]:
# Loop through and print all key-value pairs
for key, value in city_cost_living.items():
    print(key + ':', value)

In [ ]:
city_cost_living_df = pd.json_normalize(city_cost_living, 
                                  record_path="prices")

city_cost_living_df

In [ ]:
# New columns "city" and "country" - sp√§ter mit Platzhalter ersetzen!!!
city_cost_living_df['living_cost_city'] = 'London'
# city_cost_living_df['city'] = city
city_cost_living_df['living_cost_country'] = 'United Kingdom'
# city_cost_living_df['city'] = country

city_cost_living_df

In [ ]:
#############################################

In [ ]:


##########################################################################

# Import json package - already .json no?
# import json

# # Create json object: json_object
# json_object = json.loads(r.content)

# # Print json_object
# json.dumps(json_object, indent = 3)


# cities durchloopen
for city, country in cities:
    pass