In [ ]:
####### Living Costs API Pull
import requests
import os
import pandas as pd

# To be able to pull the API key from the .env, we need to import and run the load_dotenv function from the dotenv module first.
from dotenv import load_dotenv
load_dotenv()

In [ ]:
# https://www.numbeo.com/api/city_prices?api_key=your_api_key&query=London,%20United%20Kingdom

# get living cost data function
def get_living_costs(city, country):
    base_url = 'https://www.numbeo.com/api/city_prices'
    api_key = os.getenv('numbeo_api_key') # extract the value for the api key
    currency = 'EUR'
    querystring = {
        'api_key': api_key,
        'query': city + ', ' + country
    }
    url = base_url + '?' + 'api_key=' + api_key + '&query=' + city + ',' + country.replace(' ', '%20') + '&currency=' + currency
    response = requests.get(url)
    print(url)
    return response.json()

In [ ]:
# https://www.numbeo.com/api/historical_city_prices?api_key=your_api_key&query=London,%20United%20Kingdom

# get historical living cost data function
def get_historical_living_costs(city, country):
    base_url = 'https://www.numbeo.com/api/historical_city_prices'
    api_key = os.getenv('numbeo_api_key') # extract the value for the api key
    currency = 'EUR'
    querystring = {
        'api_key': api_key,
        'query': city + ', ' + country
    }
    url = base_url + '?' + 'api_key=' + api_key + '&query=' + city + ',' + country.replace(' ', '%20') + '&currency=' + currency
    response = requests.get(url)
    print(url)
    return response.json()

In [ ]:
# call living cost data function
city_cost_living = get_living_costs('London', 'United Kingdom')

# call historical living cost data function
city_historical_cost_living = get_historical_living_costs('Berlin', 'Germany')

# # cities dict durchloopen
# for city, country in cities:
#     pass

#+ '&currency=' + currency
#+ '&currency=' + 'EUR'

In [ ]:
display(city_cost_living)

In [ ]:
display(city_historical_cost_living)

In [ ]:
type(city_cost_living)

In [ ]:
# JSON output Ausschnitt
{'name': 'London, United Kingdom',
 'currency': 'GBP',
 'contributors12months': 1027,
 'monthLastUpdate': 6,
 'contributors': 646,
 'yearLastUpdate': 2023,
 'prices': [{'data_points': 80,
   'item_id': 1,
   'lowest_price': 10,
   'average_price': 20,
   'highest_price': 30,
   'item_name': 'Meal, Inexpensive Restaurant, Restaurants'},
  {'data_points': 68,
   'item_id': 2,
   'lowest_price': 50,
   'average_price': 80,
   'highest_price': 140,
   'item_name': 'Meal for 2 People, Mid-range Restaurant, Three-course, Restaurants'},

In [ ]:
# Loop through and print all key-value pairs
for key, value in city_cost_living.items():
    print(key + ':', value)

In [ ]:
# Loop through and print all key-value pairs historical data
for key, value in city_historical_cost_living.items():
    print(key + ':', value)

In [ ]:
# json_normalize living cost data 
city_cost_living_df = pd.json_normalize(city_cost_living, 
                                  record_path="prices")

city_cost_living_df

In [ ]:
# json_normalize historical living cost data 
city_historical_cost_living_df = pd.json_normalize(city_historical_cost_living, 
                                  record_path="entry")

city_historical_cost_living_df

In [ ]:
# New columns "city" and "country" - sp√§ter mit Platzhalter ersetzen!!!
city_cost_living_df['living_cost_city'] = 'London'
# city_cost_living_df['city'] = city
city_cost_living_df['living_cost_country'] = 'United Kingdom'
# city_cost_living_df['city'] = country

city_cost_living_df

In [ ]:
# nach relevanten item ids filternd

In [ ]:
#############################################

In [ ]:
price_items = {
    1: 'Meal, Inexpensive Restaurant',
    7: 'Water (0.33 liter bottle) , Restaurants',
    13: 'Water (1.5 liter bottle), Markets',
    18: 'One-way Ticket (Local Transport)',
    78: 'Cappuccino (regular)',
    107: 'Taxi Start',
    108: 'Taxi 1km',
    118: 'Banana (1kg)',
    4: 'Domestic Beer (0.5 liter draught)',
    3: 'McMeal at McDonalds'
    }

print(len(price_items))

In [ ]:
base_url = 'https://www.numbeo.com/api//rankings_by_city_historical'
api_key = 'zlueew978sczoi' # extract the value for the api key
section = 1
url = base_url + '?' + 'api_key=' + api_key + '&section=1'
response = requests.get(url)
city_hist_livcost = response.json()

In [ ]:
print(type(city_hist_livcost))

In [ ]:
start_year = 2012
end_year = 2022
dfs = []  # List to store the dataframes
for year in range(start_year, end_year + 1):
    df = pd.json_normalize(city_hist_livcost[str(year)], meta=["country", "city_name"])
    df['year'] = str(year)  # Add the 'year' column
    df = df[["year", "country", "city_name", "restaurant_price_index", "groceries_index"]]  # Select only the desired columns
    dfs.append(df)

# Concatenate all the dataframes into a single dataframe
combined_df = pd.concat(dfs, ignore_index=True)

# Print the combined dataframe
print(combined_df)

In [ ]:
#####mit string_conversion

# start_year = 2012
# end_year = 2022

# all_years_dfs = []  # List to store the dataframes

# for year in range(start_year, end_year + 1):
#     df = pd.json_normalize(city_hist_livcost[str(year)])
#     df['year'] = str(year)  # Add the 'year' column
#     df = df[["year", "country", "city_name", "restaurant_price_index", "groceries_index"]]  # Select only the desired columns
#     all_years_dfs.append(df)

# # Concatenate all the dataframes into a single dataframe
# combined_df = pd.concat(all_years_dfs, ignore_index=True)

# # Print the combined dataframe
# print(combined_df)

####mit "meta" Angabens
# start_year = 2012
# end_year = 2022
# dfs = []  # List to store the dataframes
# for year in range(start_year, end_year + 1):
#     df = pd.json_normalize(city_hist_livcost[str(year)], meta=["country", "city_name"])
#     df['year'] = str(year)  # Add the 'year' column
#     df = df[["year", "country", "city_name", "restaurant_price_index", "groceries_index"]]  # Select only the desired columns
#     dfs.append(df)

# # Concatenate all the dataframes into a single dataframe
# combined_df = pd.concat(dfs, ignore_index=True)

# # Print the combined dataframe
# print(combined_df)